*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200&family=Inter:wght@200&display=swap');

/* CSS GENERAL */

/* HEADER */
header {background-color: #E7FDBB;
display: flex;
justify-content: space-between;
}

.logo {width: 280px;
height: 200px;
}

.listnavbar {font-family: 'Inter', sans-serif;
}

.navbar {font-family: 'Inter', sans-serif;
list-style: none;
padding-top: 70px;
padding-right: 30px;
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 30px;
top: 70px;
left: 650px;
font-size: 23px;
color: #5F694D;
}

a {color: #5F694D;
text-decoration: none;

}

/* FOOTER */

footer {background-color: #E7FDBB;
height: 200px;
}

.redes {display: flex;
justify-content: center;
gap: 100px;
padding-top: 70px; 
}

.footertexto {color: gray;
font-family: 'Inter', sans-serif;
display: flex;
justify-content: flex-end;
}


/* INDEX */

main {background-color: white;}

h1 {font-family: 'IBM Plex Mono', monospace;
color: #5F694D;
display: flex;
font-weight: lighter;
justify-content: center;
padding: 10px;
margin: 40px;
}

.sectionindex {background-color: #E7FDBB;
display: flex;
justify-content: space-between;
margin-bottom: 200px;}

.textochico {font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #5F694D;
    padding: 70px;
}

.textogrande {font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 45px;
    color: #5F694D;
    padding: 60px;
}

/* SABORES */

.mainsabores {background-color: white;
}

.sectionsabores {display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
grid-template-areas: 
"cremas frutales "
"sinazucar especiales";
margin: 20px;
padding: 100px;
align-items: first baseline; 

}

.sabores {width: 400px;
height: 400px;
}

h3 {color: #5F694D;
font-family: 'IBM Plex Mono', monospace;
font-weight: lighter;
}

ul {list-style: none;
font-family: 'Inter', sans-serif;
line-height: 25px;}

.cardcremas {grid-area: cremas;
}

.cardfrutlaes {grid-area: frutales;
padding-left: 20px;
}

.cardsinazucar {grid-area: sinazucar;
padding-top: 50px;}

.cardespeciales {grid-area: especiales;
padding-top: 50px;}

/* NOSOTROS */

.textonosotros {font-family: 'Inter', sans-serif;
line-height: 40px;
background-color: #5F694D;
width: fit-content;
border-radius: 20px;
font-size: 30px;
padding: 20px;
color: white;
margin: 20px;
}

.textoyfoto {display: flex;}

/* RESEÑAS */

.sectionresenas {background-image: url(../assets/img/fotoreseña.jpg);
background-size: cover;
height: 600px;
margin-bottom: 200px;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(8,1fr);
}

.resenas {background-color: #5F694D;
margin:20px;
font-family: "Inter", sans-serif;
color: white;
padding: 30px;
border-radius: 20px;
grid-row: 2/8;
text-align: center;
font-size: 20px;
}
.autoresresenas {font-style: italic;
text-decoration: underline;
padding-top: 10px;
}


.resena1 {grid-column: 2/4;
}

.resena2 {grid-column: 5/7;
font-size: 18px;
}

.resena3 {grid-column: 8/10;
}

.h2resenas {font-family: 'IBM Plex Mono', monospace;
color: #5F694D;
font-weight: lighter;
display: flex;
justify-content: center;
margin-top: -80px;
margin-bottom: 80px;
}

.anclaresenas {margin-left: 10px;}


/* CONTACTO */

.maincontacto {background-color: white;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(8,100px);
}

.titulocontacto {grid-column: 1/2;
grid-row: 1/2;}

.sectioncontacto {grid-column: 1/2;
grid-row: 2/5;
}

.imagenlocalcontacto {grid-column: 2/3;
grid-row: 2/5;
padding: 0px 10px 100px 80px;
}

.mapa {grid-column: 2/3;
grid-row: 5/9;
}

iframe {padding: 100px 50px 100px 80px;
}

span {font-family: 'Inter', sans-serif;
margin: 20px;
}

.textocontacto {grid-column: 1/2;
grid-row: 7/9;
font-family: 'Inter', sans-serif;
font-size: 20px;
padding: 50px 0px 50px 200px;
}

.botonenviar {padding: 20px;
font-size: 15px;
}

input {margin: 20px;}

#Mensaje {padding: 80px;}

fieldset {border: none;}

label {color: #5F694D;}
