footer {
    background-color: #E7FDBB;
    height: 200px;
    
        .redes {display: flex;
                justify-content: center;
                gap: 40px;
                padding-top: 70px; 
                }
}