
.mainnosotros {
    display:flex;
    flex-direction: column}

.textonosotros1 {
    background-color: $paletadecolor1;}

.textonosotros2 {
    background-color: $paletadecolor1;
    display: flex;
    justify-content: center;
    align-items: center;
}