
.mainnosotros {
    display:flex;
    flex-direction: column}

.textonosotros1 {
    background-color: $paletadecolor1;}

.textonosotros2 {
    background-color: $paletadecolor1;
    @include flex (none,nowrap,center,center);
}