.mainsabores {
    background-color: white;

    .sectionsabores {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,780px);
        gap: 20px;
        justify-items: center;

        .cardcremas, .cardfrutales, .cardsinazucar, .cardespeciales {
            background-color: #E7FDBB;
            width: 450px;
            height: 780px;
            border-radius: 20px;

            img {
                width: 400px;
                height: 400px;
                padding: 20px;
            }

            h3 {
                color: #5F694D;
                font-family: 'IBM Plex Mono', monospace;
                font-weight: lighter;
                padding-left: 20px;
                
            }

            ul {
                list-style: none;
                font-family: 'Inter', sans-serif;
                line-height: 25px;
                padding-left: 20px;
            }
            
        }       
        
        .cardcremas {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .cardfrutales {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        .cardsinazucar {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 20px;
        }
    
        .cardespeciales {
            grid-column: 2/3;
            grid-row: 2/3;
            margin-top: 20px;
        }
    }
}