@media (max-width: 425px) {

    .navbar {
        flex-direction: column;
        text-align: center;}

    .logo{
        width: 235px;
        height: 190px;}

    h1 {
        font-size: 15px}

    .sectionindex {
        background-position: center center;
        
        .textochico {
            font-size: 20px;
        }
    }

    .textogrande {
        font-size: 20px;
    }

    .logoredes {
        width: 67px;
        height: 74px;
    }

    .imgnosotros {
        width: 320px;
        height: 328px;
    }

    .sectionresenas {
        
        .resena1, .resena2, .resena3 {
            font-size: 12px;
        }
    }

    .h2resenas {
        font-size: 18px;
    }

    .maincontacto {
        display: grid;
        grid-template-columns: auto 350px auto;
                .mapa {
                iframe {
                width: 330px;
                height: 380px;
                }
            }
        
            .imagenlocalcontacto { 
                img {
                width: 330px;
                height: 300px;
                }
            }

        .sectioncontacto{
            fieldset{
                label{
                    span {
                        margin: 10px;
                        font-size: 11px;
                    }
                    #Mensaje{
                        padding: 30px;
                    }
                }
            }
        }
    }
}